html
   head
      link(rel="stylesheet" href="ta-toymvc.css")
      
      //
         title ta-toymvc wireframe
      title problems_list
      <meta name="viewport" content="width=device-width"/>
      <meta charset="utf-8"/>
   body
      h1 Открытый задачник
      table
         thead
            th(scope="col") Статус
            th(scope="col") Задача
            th(scope="col") Имя пользователя
            th(scope="col") E-Mail
         tbody
            //
               tr
                  td <input type="checkbox"/>
                  td Problem text
                  td Username
                  td E-Mail
            tr
               //
                  Родительский комитет закупил 25 пазлов для подарков детям в связи с окончанием учебного года, из них 18 с машинами и 7 с видами городов. Подарки распределяются случайным образом между 25 детьми, среди которых есть Володя. Найдите вероятность того, что Володе достанется пазл с машиной.
               td <input type="checkbox"/>
               td В лыжных гонках участвуют 13 спортсменов из России, 2 спортсмена из Норвегии и 5 спортсменов из Швеции. Порядок, в котором спортсмены стартуют, определяется жребием. Найдите вероятность того, что первым будет стартовать спортсмен из Норвегии или Швеции
               td mary_anna
               td mary.anna@gmail.com
            tr
               td <input type="checkbox" checked/>
               td Замените словосочетание «грустно сказал», построенное на основе примыкания, синонимичным словосочетанием со связью управление. Напишите получившееся словосочетание.
               td Илья Сергеевич
               td masterok@hotmail.com
            tr
               td <input type="checkbox" checked/>
               td В начале года число абонентов телефонной компании «Восток» составляло 400 тыс. человек, а в конце года их стало 480 тыс. человек. На сколько процентов увеличилось за год число абонентов этой компании?
               td squirrel66
               td el_murid@mail.ru
            tr
               td <input type="checkbox"/>
               td Какие два из перечисленных понятий используются в первую очередь при описании социальной сферы общественной жизни? Страта, прибыль, искусство, государство, этнос. Выпишите соответствующие понятия и раскройте смысл любого одного из них. Ответ запишите на бланке ответов № 2, указав номер задания.
               td Анастасия
               td gloxy@yahoo.com